@media (max-width:768px){
    /*All Gone Ones*/
    .bg{
        display: none;
    }
    .info #info-resume{
        display: none;
    }   
    .info #info-projects{
        display: none;
    }  
    #border{
        display: none;
    }


/*----------------------Nav-Bar----------------------*/
.navbar{
    box-shadow: 0 2px 18px 0 rgb(129 162 182 / 20%);
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    padding: 0 48px;
    background: #fff;
    position: relative;
}
.dropdown{
    display: grid;
}
.header {
    display: flex;
    justify-content: space-between;
}
.header a {
    border-radius: 5px;
    height: 50px;
    padding: 15px 15px;
    font-size: 10px;
    line-height: 20px;
    color: #777;
    transition: 0.5s;
}

.navbuttons{
    display: none;
}

/*NAV BAR RESPONSIVE*/

.dropbtn {
    background: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
} 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: seashell;
    min-width: 90px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#right-buttons {
    margin: auto 0;
}
/*-----------------------------------------*/
    body{
        background-color: #E6DACE;
        height: 100vh;
    }

    #card{
        position: relative;
        margin: 30px auto;
        width: 90%;
        height: 500px;
    }
    #card #ege{
        width: 170px;
        height:170px;
        margin: 30px 100%;
    }
    #card #card-button{
        display:flex;
        width: 100%;
        justify-content: space-around;
        margin: -48px 10% 0 10%;
    }
    #card #card-name{
        margin: -35px 100% 0 100% !important;
        width: 141px;
        text-align: center;
        font-size: 28px;
    }
    #card #card-resume, #card #card-projects{
        background-color: #C60021;
        border: 2px solid #C60021;
        color: #fff;
        padding: 5px;
        margin: 0;
        width: 100px;
        height: 34px;
        text-align: center;
        border-radius: 10px;
        text-decoration: none;
        transition: 0.2s;
    }
    #card .card-footer{
        margin: -35px 0px -117px 0;
        position: absolute;
        bottom: 117px;
    }
    #card #title{
        font-size: 20px;
        margin: -45px 23% 0 23%!important;
        text-decoration: underline 3px #C60021;
        text-underline-offset: 5px;
    }

    .info{
        display: flex;
        flex-wrap: wrap;
        border: none;
        margin: 0;
        position: relative;
        height: auto;
        width: auto;
    }
    .info h1{
        margin: 20px 100% 0 32px;
        font-weight: bolder;
        font-size: 40px;
        display: block;
    }
    .info h2{
        margin: 5px 45% 0 34px;
        font-weight: bold;
        font-size: 20px;
        display: block;
    } 
    .info p{
        margin: 10px 22px 0 34px;
        font-size: 15px;
    }
    .info #info-resume{
        margin-right: -30px;
    }

    .footer{
        background-color: white;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 15% 0 0 0;
        flex-direction: column-reverse;
        padding-left: 15px;
        padding-top: 10px;
    }
    .footer #copyright{
        padding: 15px 0px 0 0;
    }
    .footer th, .footer td{
        text-align: center;
    }
    .footer td{
        font-size: 11px;
        width: 200px;
        border-right: 1px solid #C60021;
    }
    .footer #footer-icons,.footer #footer-icons td{
        border-right: 0px solid #C60021 !important;
    }
    .footer .social-icons{
        padding: 5px;
        height: 26px;
        width: 28px;
        transition: 0.2s;
    }
    .footer .social-icons:hover{
        padding: 0px;
    }
}

@media (max-width:768px){
    .footer{
        margin: 15% 0 0 0;
    }
}
@media (max-width:768px){
    .footer{
        margin: 15% 0 0 0;
    }
}