@media (max-width:768px){
    a.disabled{
        font-size: 15px !important;
    }
    /*----------------------Nav-Bar----------------------*/
.navbar{
    box-shadow: 0 2px 18px 0 rgb(129 162 182 / 20%);
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    padding: 0 48px;
    background: #fff;
    position: relative;
}
.dropdown{
    display: grid;
}
.header {
    display: flex;
    justify-content: space-between;
}
.header a {
    border-radius: 5px;
    height: 50px;
    padding: 15px 15px;
    font-size: 10px;
    line-height: 20px;
    color: #777;
    transition: 0.5s;
}

.navbuttons{
    display: none;
}

/*NAV BAR RESPONSIVE*/

.dropbtn {
    background: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
} 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: seashell;
    min-width: 90px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#right-buttons {
    margin: auto 0;
}
    .col-md-5{
        display: flex;
        justify-content: center;
        border-top: 2px dotted #C60021;
        width: 100%;
    }
    #projects-title{
        font-size: 24px;
        margin: 10% 0 0 0;
    }
    .projects-cards{
        height: auto;
        width: 90%;
    }
    .project-logos{
        margin: 5% 0 !important;
        width: auto !important;
        height: 100px !important; 
    }
    .projects-cards h3{
        margin: 10% 0 0 2%;
        font-size: 15px;
        margin-bottom: 0;
        font-weight: 600;
        color: #777;
    }
    #port-lang{
        margin: 20% 0 0 0;
        text-align: center;
    }
    #jae-lang{
        margin: 19% 0 0 0;
        text-align: center;
    }
    #gl-lang{
        margin: 19% 0 0 0;
        text-align: center;
    }
    .projects-cards .left{
        padding: 0px 0 0 0px;
    }
    .projects-cards .right{
        border-left: 0px dotted #C60021;
    }
    #website{
        margin:0 0 0 50px;
    }


    /*------------Footer------------*/
    .footer{
        background-color: white;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 15% 0 0 0;
        flex-direction: column-reverse;
        padding-left: 15px;
        padding-top: 10px;
    }
    .footer #copyright{
        padding: 15px 0px 0 0;
    }
    .footer th, .footer td{
        text-align: center;
    }
    .footer td{
        font-size: 11px;
        width: 200px;
        border-right: 1px solid #C60021;
    }
    .footer #footer-icons,.footer #footer-icons td{
        border-right: 0px solid #C60021 !important;
    }
    .footer .social-icons{
        padding: 5px;
        height: 26px;
        width: 28px;
        transition: 0.2s;
    }
    .footer .social-icons:hover{
        padding: 0px;
    }
}

@media (max-width:768px){
    .footer{
        margin: 15% 0 0 0;
    }
}
