*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
a.disabled{
    pointer-events: none;
    cursor: none;
}
/* -------------------NAV---------------------- */
.navbar{
    box-shadow: 0 2px 18px 0 rgb(129 162 182 / 20%);
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    padding: 0 48px;
    background: #fff;
    position: relative;
}
.header {
    display: flex;
    justify-content: space-between;
}
.header a {
    border-radius: 5px;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #777;
    transition: 0.5s;
}
.header a:hover{   
    text-decoration: none;
    background-color: #F4ECE6;
    box-shadow: 3px 3px #999;
}
#right-buttons{
    margin-top: 15px;
}
/* ---------------------Footer-------------------- */
.footer{
    padding: 10px 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px 0 0 0;
}
.footer #copyright{
    padding: 15px 0px 0 50px;
}
.footer th, .footer td{
    text-align: center;
}
.footer td{
    width: 200px;
}
.footer .social-icons{
    padding: 5px;
    height: 25px;
    width: 25px;
    transition: 0.2s;
}
.footer .social-icons:hover{
    padding: 0px;
}
.footer #footer-icons td{
    text-align: center;
    width: auto!important;
}
/* -------------------projects---------------------- */
body{
    background-color: #f8ede2;
}



#projects .container{
    display: grid;
}
#projects-title{
    margin: 100px 0 0 0;
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
}



.section{
    display: grid;
    grid-template-columns: auto auto;
}
.projects-sections{
    margin: 100px 0 -20px 0;
    font-size: 25px;
    padding: 0 0 0 205px;
    font-weight: bold;
}
.projects-cards{
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 50px auto -20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    box-shadow: 0 2px 18px 0 #888888;
    z-index: 1;
    height: 370px;
    width: 725px;
    background-color: #fff;
}


.projects-cards .left{
    padding: 40px 0 0 40px;
}
.projects-cards .right{
    border-left: 2px dotted #C60021;
}

.projects-cards h3{
    font-size: 15px;
    margin-bottom: -15px;
    font-weight: 600;
    color: #777;
}
.projects-cards h2{
    margin-top: 15px;
    margin-bottom: -5px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.projects-cards h1{
    border-left: 10px solid red;
    font-size: 30px;
    font-weight: bolder;
    color: #000;
}



.projects-info{
    margin-top: 60px;
    font-size: 20px;
}
#website{
    font-weight: 100;
    margin: 0 0 0 125px;
    font-size: 20px;
    background-color: #C60021;
    border: 2px solid #C60021;
    color: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 100px;
    text-decoration: none;
    transition: 0.2s;
}
#website:hover{
    border: 2px solid #000;
    color: #000;
    background-color: #F4ECE6 ;
}
#portfolio{
    margin: 60px 26px 60px 11px;
    height: 250px;
}
#jae{
    margin: 110px 31px 110px 16px;
    height: 150px;
}
#gl{
    margin: 85px 63px 85px 48px;
    height: 200px;
}
#port-lang{
    margin-top: 200px;
}
#jae-lang{
    margin-top: 190px;
}
#gl-lang{
    margin-top: 190px;
}
.footer #footer-icons table{
    margin: auto;
}