@media (max-width:768px){
    /*All Gone Ones*/
    .bg{
        display: none;
    }
    .info #info-resume{
        display: none;
    }   
    .info #info-projects{
        display: none;
    }  
    #border{
        display: none;
    }
    /* .info{
        display: none;
    } */
/*-----------------------------------------*/
    body{
        background-color: #E6DACE;
    }

    #card{
        position: relative;
        margin: 30px auto;
        width: 90%;
        height: 500px;
    }
    #card #ege{
        width: 170px;
        height:max-content;
    }
    #card #card-button{
        display:flex;
        width: 100%;
        justify-content: space-around;
        margin: -48px 0 0 0;
    }
    #card #card-name{
        margin: -35px 0 0 0 !important;
        width: 141px;
        text-align: center;
        font-size: 28px;
    }
    #card #card-resume, #card #card-projects{
        background-color: #C60021;
        border: 2px solid #C60021;
        color: #fff;
        padding: 5px;
        margin: 0;
        width: 100px;
        height: 34px;
        text-align: center;
        border-radius: 10px;
        text-decoration: none;
        transition: 0.2s;
    }
    #card .card-footer{
        margin: -35px 0px -117px 0;
        position: absolute;
        bottom: 117px;
    }
    #card #title{
        font-size: 24px;
        margin: -45px 0 0 0px !important;
        text-decoration: underline 3px #C60021;
        text-underline-offset: 5px;
    }
    .footer{
        position: absolute;
        bottom: -400px;
    }

    .info{
        display: flex;
        flex-wrap: wrap;
        border: none;
        margin: 0;
        position: absolute;
        z-index: 1;
        height: auto;
        width: auto;
    }
    .info h1{
        margin: 20px 50px 0 32px;
        font-weight: bolder;
        font-size: 40px;
        display: block;
    }
    .info h2{
        margin: 5px 0 0 34px;
        font-weight: bold;
        font-size: 20px;
        display: block;

    } 
    .info p{
        margin: 10px 22px 0 34px;
        font-size: 15px;
    }
    .info #info-resume{
        margin-right: -30px;
    }




    .footer{
        background-color: white;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 10px 0;
        flex-direction: column-reverse;
        padding-left: 15px;
        padding-top: 10px;
    }
    .footer #copyright{
        padding: 15px 0px 0 0;
    }
    .footer th, .footer td{
        text-align: center;
    }
    .footer td{
        font-size: 11px;
        width: 200px;
        border-right: 1px solid #C60021;
    }
    .footer #footer-icons{
        border-right: 0px solid #C60021 !important;

    }
    .footer .social-icons{
        padding: 5px;
        height: 26px;
        width: 28px;
        transition: 0.2s;
    }
    .footer .social-icons:hover{
        padding: 0px;
    }
}